body {
  font-size: 14px;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  color: yellow;
  text-shadow:
  #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
  #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
  
}

body > div {
  margin: auto;
}

video#openingVid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: black;
  background-size: cover;
}

@media only screen and (min-width: 800px) {
  body {
    width: 800px;
    margin: auto;
  }
}

#header {
  display: flex;
  justify-content: center;
}

#header > div {
  height: 10vh;
  width: auto;
  text-align: center;
  font-size: 30px;
}

#main {
  height: 90vh;
}

#welcome {
  display: flex;
  justify-content: center;
}

#welcome > div {
  width: auto;
  margin-top: 20vh;
  text-align: center;
  line-height: 75px;
  font-size: 60px;
}

#menu {
  display: flex;
  justify-content: center;
}

#menu > div {
  width: auto;
  margin-top: 20vh;
  text-align: center;
  font-size: 25px;
  line-height: 40px;
}

#menu > div > div {
  margin-bottom: 100px;
}

#menu > div > div > div {
  line-height: 35px;
  margin-bottom: 50px;
  font-size: 35px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  #menu > div {
    margin-top: 0vh;
  }
  #menu > div > div > div {
    font-size: 30px;
  }
}

/* game headers ------------------------------------------------- */
#gameStats {
  width: 100%;
}

#play {
  display: block;
  
}

#settings >div {
  padding-bottom: 40px;
  line-height: 24px;
}
.trackers {
  padding-right: 30px;
}

.settingsLabel {
  cursor: pointer;
}


/* game board---------------------------------------------------- */

#board {
  display: flex;
  flex-wrap: wrap;
}

.square {
  position: relative;
  margin: 2px;
  border: 1px solid;
  box-sizing: border-box;
}

.square:hover {
	background-color: red;
  }

.square::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.square .content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-top: 50%;
}

.square .top-row {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	line-height: 16px;
	padding-top: 25%;
}

@media only screen and (max-width: 812px) {
	.square {
		font-size: 10px;
	}
	.square .content {
		padding-top:25%;
	}
	.square .top-row {
		padding-top: 1%;
		line-height: 12px;
	}
}



/* game animations------------------------------------------------- */
.flash1 {
  color: #ff00ff;
}
.flash2 {
  color: #00ffff;
}
.flash3 {
  color: #0087ff;
}
.flash4 {
  color: #0000ff;
}

/* slider --------------------------------------------------------- */

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 70%;
  height: 15px;
  border-radius: 5px;
  background: #00b1f7;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgb(153, 0, 255);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb(153, 0, 255);
  cursor: pointer;
}
